/* Body Tag */
body{
	width: 100%;
	height: auto;
	margin: 0 auto 0 auto;
	background-color: #EEEEEE;
}


/* Main Layout Partition */
#header{
	width: 100%;
	height: 50px;
	border-bottom: 2px solid #CFCFCF;
	line-height: 45px;
	font-family: arial;
	font-size: 24px;
	color: #929292;
	background-color: #FFFFFF;
}


/* Search Layout Partition */

#searchItems{
	height: 45px;		
	width: 96%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}
.search{
	border: 1px solid #DCDCDC;
	height: 40px;
	width: 20%;
	float: left;
	line-height: 45px;
	font-family: arial;
	color: #929292;
	background-color: #FFFFFF;
}

.industryOptions .locationOptions {
	width: 80%; 
	float: left; 
	margin-top: 5px; 
	height: 120px; 
	margin-left: 5px;
}

.multiselect {
	width: 60%; 
	float: left; 
	height: 30px; 
	margin-left: 5px;
}
.selectBox {
    position: relative;
}
.selectBox select {
    width: 100%;
}
#industrySelectBoxContainer {
    display: none;
    background: #FFFFF;
    height: 120px;
    width: auto;
    margin-top: -5px;
}
#industrySelectBoxContainer select {
    display: block;
}
#selectBoxContainer {
    display: none;
    background: #FFFFF;
    height: 120px;
    width: auto;
    margin-top: -5px;
}
#selectBoxContainer select {
    display: block;
}

/* Slider Layout */
#experience{
	border: 1px solid #DCDCDC;
	height: 40px;
	width: 50%;
	float: left;
	line-height: 45px;
	font-family: arial;
	color: #929292;
	background-color: #FFFFFF;
}
.experience{
	margin: 5px; 
	line-height: 35px;
	float: left; 
	height: 40px
}
#advanced{
	float: left; 
	color: #FFFFFF;
	height: 40px;
	margin-left: 35px; 
	background-color: #1DBA9B;
}

#searchIcon{
	border: 1px solid #DCDCDC; 
	height: 40px; 
	width: 40px; 
	float: left; 
	background-color: #1DBA9B;
}
.searchIcon{
	width: 20px; 
	height: 20px; 
	margin-top: 10px; 
	margin-left: 10px
}
#slider-range {
	width:90%;
	margin-top: 15px; 
	margin-left: 5px
}
#year {
	float:left; 
	margin: 5px; 
	line-height: 35px;
	height: 30px;
}

#minExperience {
	border: 0; 
	float: left; 
	width: 15px; 
	margin: 5px; 
	height: 30px; 
	line-height: 35px; 
	color:#1DBA9B;
}

#maxExperience {
	border: 0; 
	float: left; 
	width: 15px; 
	margin: 5px; 
	height: 30px; 
	line-height: 35px; 
	color:#1DBA9B;
}

#slider-div {
	width: 45%; 
	height: 40px; 
	float: left;
}


/* Infinite Scrolling and selected option*/
.paggination{
	border: 1px solid #DCDCDC;
	height: 40px;
	width: 49%;
	float: left;
	line-height: 45px;
	font-family: arial;
	color: #929292;
	background-color: #FFFFFF;
}
#paggination{
	margin-top: 10px;
	width: 96%;
	height: 45px;
	margin-left: auto;
	margin-right: auto;
}

/*Candidate Search Result Layout*/

#result{
	margin-top: 10px;
	width: 96%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #D8D8D8;
	background-color: #FFFFFF;
}

#candidateDetail{
	height: 120px;
	width: 99%;
	margin: 0 auto 0 auto;
}

#image{
	width: 10%;
	height: 100px;
	margin-top: 10px;
	margin-left: 10px;
	float: left;
}

#profile{
	width: 60%;
	height: 100px;
	margin-top: 10px;
	margin-left: 10px;
	float: left;
}
.profileDetails {
	color: #808080; 
	font-size: 14px; 
	font-family: arial
}
.employeeName {
	color: #1DBA9B; 
	font-family: arial;
	 font-weight: bold
}

#progress{
	width: 25%;
	height: 100px;
	margin-top: 10px;
	margin-right: 10px;
	float: right;
}
.progressBar{
	width: 10px; 
	height: 15px; 
	float: left; 
	margin-left: 5px;
	background-color: #D5D5D5;
}
.progressBar1{
	width: 10px; 
	height: 15px; 
	float: left; 
	margin-left: 5px;
	background-color: #1CBC9A;
}
.moreLikely{
	height: 20px; 
	width: 100%; 
	vertical-align: middle; 
	color: #9AA09E;
	margin-left: 5px;
}

.marginLeft span{
	margin-left: 10px
}

.footer {
	text-align: center;
	font-size: 20px;
	font-family: arial;
	color: #1CBC9A;
}

.loading {
	text-align: center;
	font-size: 16px;
	color: #9AA09E;
}

.font {
	font-size: 12px;
}