<!DOCTYPE html>
<html  ng-app="belongApp">
<head>
	<title>Belong Assignment</title>
	<link rel="stylesheet" type="text/css" href="styles/assignment.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="bower_components/jquery-ui/themes/smoothness/jquery-ui.css">
</head>
<body>
<div id="header">DATA<span style="color: #1DBA9B">EMO</span></div>
<div ng-controller='HomeCtrl'>
	<div id="searchItems">
		 <div id="location" class="search">
			<div style="margin-left: 10px; float: left;">
				<i class="fa fa-map-marker fa-lg"></i>
			</div>
			<div class="multiselect">
				<div class="selectBox" id="locationSelectBox">
				    <span>All Locations</span>
					<div id="selectBoxContainer" >
						<select class="locationOptions" id="locationOptions" multiple ng-model="belong.selectedLocations" ng-options="a.city group by a.state for a in locations">    
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="search" style="width: 25%;">
			<div style="margin-left: 10px; float: left; width: 20px">
				<i class="fa fa-pie-chart fa-lg"></i>
			</div>
			<div class="multiselect">
				<div class="selectBox" id="industrySelectBox">
				    <span>All Industries</span>
					<div id="industrySelectBoxContainer" >
						<select class="industryOptions" id="industryOptions" multiple ng-model="belong.selectedIndustries" ng-options="industry.profile group by industry.name for industry in industries">    
						</select>
					</div>
				</div>
			</div>
		</div>
		<div id="experience">
			<label for="amount" class="experience">Experience </label>
			<input type="text" id="minExperience" readonly>
			<span id="year">Years</span>
	        <div id="slider-div">
	        	<div id="slider-range" ng-model="slider"></div>
        	</div>	
        	<input type="text" id="maxExperience" readonly>
        		<span id="year">Years</span>
			<div>
				<input id="advanced" type="button" value="Advanced" />
			</div>
		</div>
		<div id="searchIcon">
			<div class="searchIcon">
				<i class="fa fa-search fa-lg" style="color: #FFFFFF"></i>
			</div>
		</div>
	</div>
	<div id="paggination" class="marginLeft">
		<div class="paggination">
			<span class="font" ng-repeat="industry in belong.selectedIndustries">{{industry.profile}}</span>
		</div>
		<div id="searchCount" class="paggination"> 
			<span>Showing  1 - {{belong.counter}} out of {{belong.totalEmployess}} Search Results</span>
		</div>
	</div>
<div ng-model="employess"  infinite-scroll='belong.nextPage()' infinite-scroll-disabled='belong.busy' infinite-scroll-distance='2'> 
		<div id="result"  ng-repeat="employee in belong.employess ">
			<div id="candidateDetail">
				<!-- <img id="image" ng-src="http://placehold.it/225x250&text={{employee.image}}"> -->
				<img id="image" ng-src="http://placehold.it/225x250&text={{$index + 1}}"> 				
				<div id="profile">
					<table border="0">
						<tr>
							<td class="employeeName">{{employee.name}}</td>
						</tr>
						<tr>
							<td class="profileDetails">{{employee.designation}} at {{employee.currentCompanyName}}</td>
						</tr>
						<tr>
							<td class="profileDetails"><i class="fa fa-map-marker fa-lg"></i>  &nbsp;&nbsp;{{employee.location.city}}, {{employee.location.state}}, {{employee.location.country}}</td>
						</tr>
						<tr></tr>
						<tr>
							<td class="profileDetails"><i class="fa fa-briefcase"></i>&nbsp;&nbsp;<span ng-repeat="item in employee.pastComapnyNames">{{item}}, </span></td>
						</tr>
					</table>
				</div>				
				<div id="progress">
					<div class="moreLikely">More Likely To Move</div>
					<div ng-repeat="i in getNumber(10) track by $index">
						<div ng-class="$index < employee.moreLikelyToChange ? 'progressBar1' : 'progressBar'" style="float: left">
						</div>
					</div>  	
				</div>
			</div>
		</div>
	</div>
	<div ng-show='belong.busy' class="loading">Loading.....</div>
	<div ng-show='belong.end && !belong.initializing' class="footer">Thats all folks</div>
</div>
</div>
<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/jquery-ui/jquery-ui.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script type='text/javascript' src='bower_components/ngInfiniteScroll/build/ng-infinite-scroll.min.js'></script>
<script src="scripts/app.js"></script>
<script src="scripts/controllers/home.js"></script>
<script>
	$(function() {

		$( "#slider-range" ).slider({
			range: true,
			min: 0,
			max: 50,
			values: [ 2, 38 ],
			slide: function( event, ui ) {
				$( "#minExperience" ).val(  ui.values[ 0 ] );
				$( "#maxExperience" ).val(  ui.values[ 1 ] );
			}
		});

		$( "#minExperience" ).val( $( "#slider-range" ).slider( "values", 0 ));
		$( "#maxExperience" ).val($( "#slider-range" ).slider( "values", 1 ) );

		
		$("#industrySelectBox").click(function() {
	        var industrySelectBox = document.getElementById("industrySelectBoxContainer");
            industrySelectBox.style.display = "block";
	    });

	    $("#industrySelectBox").mouseleave(function() {
	    	var industrySelectBox = document.getElementById("industrySelectBoxContainer");
	    	 industrySelectBox.style.display = "none";
	    });

	    $("#locationSelectBox").click(function() {
	        var locationSelectBox = document.getElementById("selectBoxContainer");
            locationSelectBox.style.display = "block";
	    });

	    $("#locationSelectBox").mouseleave(function() {
	    	var locationSelectBox = document.getElementById("selectBoxContainer");
	    	 locationSelectBox.style.display = "none";
	    });

	}); 
</script>
</body>
</html>